

ul {
	text-align:center;
	position:fixed;
	width:100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: breamcatcher;
	font-size: 35px;

}
li{

  float: left;
  border: none;
  outline: none;
  cursor: pointer;
	text-align: center;
  width: 33.33%;
  position: relative;top: 500px;
}
li a:link, li a:visited{

	width: 100%;
	padding: 14px;
	color: #000;
	text-align: center;
	text-decoration: none;
	position:relative;top:100px;
}

li a:hover {
	background-color: #E3E5F4;
	color: #000;
}

li a:active {
	background-color: #566398;
	color: #000;
}

body{
	background-image: url("images/710.png");
	background-size: cover;
	position:fixed;
  background-repeat: no-repeat;
	background-position: bottom: 1000px;

}


@font-face {
    font-family: steelworks_vintage;
    src: url(fonts/fontkit/steelworks_vintage_demo-webfont.woff);
}

@font-face {
	font-family: made_cannes;
	src: url(fonts/fontkit/made_cannes.woff);
}

@font-face{
	font-family:breamcatcher;
	src:url(fonts/fontkit/breamcatcher-webfont.woff)
}

@font-face{
	font-family:red_moon;
	src: url(fonts/fontkit/red_moon_rising.woff)
}
