
.tablink {
    background-color: #90A0A0;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 33.33%;
    font-family: breamcatcher;

}

.tablink:hover {
    background-color: #D9DED8;
}

/* Style the tab content */
.tabcontent {
    color: #FAFCF7;
    display: none;
    padding: 50px;
    text-align:center;
    height:130px;
    font-size: 80px;
    background-image: url("images/trees.png");
    background-position: center;
    background-size: cover;

    @font-face{
    	font-family:breamcatcher;
    	src:url(font/breamcatcher-webfont.woff)
    }

    @font-face{
    	font-family:fiftyfive;
    	src:url(font/fifty_five.woff)
    }

    @font-face{
    	font-family:hermione;
    	src:url(font/hermione.woff)
    }

    @font-face{
    	font-family:lapiedrita;
    	src:url(font/lapiedrita.woff)
    }
    #homebutton{
    	float:left;
    	position:relative;left:110px;
    	position:relative;top:355px;
    }
